/* .footer-top {
    
} */

.footer-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    background-color: var(--bg1-footer);
    color: var(--color-footer);
    border-bottom: 2px solid var(--color-white);
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-elements p {
    padding: 0 1em;
}

.border {
    border-right: 1px solid var(--color-footer);
}

@media (max-width: 768px) {
    .footer-btm {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 50px;
    }

    .footer-elements {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .footer-elements p {
        padding: 0.5em 0;
        border-right: none;
    }

    .border {
        border-right: none;
        border-bottom: 1px solid var(--color-footer);
        width: 100%;
        padding-bottom: 10px;
    }
}
