.first-children,
.second-children {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.first-children div {
    width: 40%;
}

.first-children img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.first-children h1,
.second-children h1 {
    width: 80%;
    font-size: 50px;
    margin: 0 0 20px;
}

.first-children p,
.second-children p {
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 1.5;
}

.first-children p {
    width: 70%;
}

.second-children p {
    width: 55%;
}

.first-children button,
.second-children button {
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-navy-blue);
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
}

.button-effect {
    display: inline-block;
    transform: perspective(1px) translate(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
    border-radius: 50px;
}

.button-effect::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131313;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 50px;
    /* Asegurar bordes redondeados */
}

.button-effect:hover {
    color: white;
}

.button-effect:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.first-children div,
.first-children img,
.second-children div,
.second-children .image-wrapper {
    width: 100%;
}

.image-wrapper {
    height: auto;
    object-fit: cover;
    position: relative;
    top: -30px;
    left: -90px;
    z-index: 1;
    border: 12px solid var(--color-white);
    border-radius: 6px !important;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 6px !important;
}

@media (max-width: 768px) {
    .first-children {
        margin-bottom: 30px;
    }

    .first-children,
    .second-children {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .second-children div,
    .second-children .image-wrapper {
        width: 100%;
    }

    .first-children h1,
    .second-children h1 {
        font-size: 30px;
        width: 100%;
    }

    .first-children p,
    .second-children p {
        font-size: 14px;
        width: 100%;
    }

    .second-children {
        flex-direction: column-reverse;
    }

    .second-children div {
        order: 2;
    }

    .image-wrapper {
        order: 1;
        top: 0;
        left: 0;
        z-index: 1;
        border: none;
        border-radius: 0;
    }

    .image-wrapper img {
        border-radius: 0 !important;
    }
}